/* PRODUCT DETAILS SECTION */
.product_wrapper{
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
}
.product_wrapper h1{
    font-weight: bold;
    font-size: 2.4rem;
    margin-left: 3rem;
}
.product_top_con{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.product_top_con aside{
    width: 43%;
    height: 95%;
}

.product_con_left{
    background-image: url(../../../public/IMG_7871.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 30%; */
}
.product_con_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding-left: 1rem;
}
.product_price_con{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}
.product_con_right h3{
    font-weight: bold;
    font-size: 1.6rem;
}

.product_con_right p{
    font-weight: bold;
    font-size: 1.2rem;
    color: #008103;
}

.product_desc{
    margin-top: 0;
    font-size: 1.5rem;
}
.product_add_cart{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.product_add_cart a{
    width: 30%;
    background-color: #008103;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    font-weight: bold;
    color: #fff;

}
.product_add_cart .product_cart_btn_2{
  
    background-color: #ffff;
    border: 1px solid #008103;
    color: #008103;

}
.control_products{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.control_products button{
    width: 5%;
    background-color: #000;
    padding: .2rem;
    border-radius: .5rem;
    text-align: center;
    color: white;

}
.place_order h1{
    font-weight: bold;
    margin-left: 3trem;
}

.popular_info{
    width: 100%;
    display: flex;
    
}

@media (max-width: 640px) {
    .product_top_con{
        
        height: 50rem;
        flex-direction: column;
        
    }
    .product_top_con aside{
        width: 100%;
        height: 50%;
    }
    .product_price_con{
       
        gap: .6rem;
    }
    .product_con_right h3{
        font-weight: bold;
        font-size: 1.6rem;
    }
    
    .product_con_right p{
        font-weight: bold;
        font-size: .7rem;
        color: #008103;
    }
    
    .product_desc{
        margin-top: 0;
        font-size: .8rem;
    }

    .product_add_cart a{
        width: 45%;
        padding: 0.7rem;
    }

    .control_products button{
        width: 12%;
    }

}


/* PRODUCTS list section */
.productListWrapper{
    width: 100%;
    /* background: #000; */
    display: flex;
    flex-wrap: wrap;
}
.house_listing{
    width: 75%;
    margin-left: 4rem;
}
.filter_sec{
    width: 20%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
}

.filter_sec h1{
    font-size: 1.2rem;
    padding-left: 2rem;
}
.search_product h2{
    font-weight: 600;
    padding-left: 2rem;
}
#products_list_con{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    
}
.tags a{
    width: 27%;
    padding: .2rem;
    border: .1rem solid silver;
    margin: .4rem;
    text-align: center;
    font-weight: 500;
}
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 10s linear infinite;
    display: none;
  }
  .marquee:hover {
    animation-play-state: paused; /* Pause on hover */
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@media (max-width: 640px) {
    .productListWrapper{
        flex-direction: column;
    }
    #products_list_con{
        width: 28rem;
        /* background: #000; */
        display: flex;
        justify-content: center;
        margin-left: -4rem;
        
        /* flex-wrap: wrap; */
    }
    #products_list_con a{
        width: 50%;
    }
    #products_list_con #card_product{
        width: 100%;
        height: 15rem;
    }
    .filter_sec{
        width: 100%;
        overflow-x: scroll;
    }
    .tags{
        height: 20rem;

    }
    .tags a{
        /* width: 30px; */
        /* padding: 2rem; */
        border: .1rem solid silver;
        margin: .4rem;
        font-weight: bold;
    }
    .top_filter{
        overflow-x: scroll;
    }
    .marquee{
        display: block;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1.3px #008103;
    }
}