
.home_footer{
    width: 100%;
    height: 14rem;
    background-color: #008103;
    display: flex;
    padding: 2rem;
  }

.foo_items{
    width: 32%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.foo_items h6{
    text-decoration: underline;
}
.foo_items h1{
    font-weight: bold;
   
    font-variant: small-caps;

}

.foo_items h4{
    font-size: 2rem;
}
.foo_icon{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.foo_social_icons{
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-size: 2rem;
}


@media all and (max-width: 900px) {
    .foo_items h1{
       margin: .1rem;
    
    }

.foo_items{
        font-size: .7rem;
    }
    .foo_icon{
        gap: 0.1rem;
    }
    .foo_icon :nth-child(1){
        font-size: 1.7rem;
    }

    .foo_icon :nth-child(2){
        font-size: .6rem;
    }
    .foo_items h4{
        font-size: 1rem;
    }
    
}