footer {
    background-color: #008103; /* Dark Gray */
}
.slider-container {
  width: 100%; /* Ensure it takes the full width */
  overflow: hidden; /* Prevent overflow */
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 1rem; /* Side padding */
}

h2, h3 {
    color: #f9fafb; /* Light Gray for headers */
}

hr {
    border: 1px solid #e5e7eb; /* Darker Gray for dividers */
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #e5e7eb; /* Light Gray for links */
    transition: color 0.3s ease;
}

a:hover {
    color: #34d399; /* Green on hover */
}

.foo_items {
    margin-top: 1rem;
  }
  
  .foo_icon {
    display: flex;
    align-items: center;
  }
  
  .footer {
    background-color: #f9f9f9;
    padding: 2rem 0;
  }
  
  .footer a {
    color: #4a5568;
  }
  
  .footer a:hover {
    color: #2b6cb0;
  }
  