.r-wrapper {

    width: 100%;

}

.r-container {
    width: 100%;
    overflow: hidden;
    position: relative; 
    z-index: 1;
    padding-top: 25px;
}

.r-card {
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
}

.cardCon {
    height: 32rem;
    width: 23rem;
}

.cardItemInfo {
    width: 100%;
    display: flex;
    position: relative;
    top: -2rem;
}
.cardItemInfo article{
    width: 70%;
    display: flex;
   
}




.r-card:hover {
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(24, 77, 1) 0%, rgba(220, 237, 241, 1) 55%, rgb(109, 238, 10) 100%);
}

.swiper-horizontal {
    overflow: visible;
}

.r-buttons {
   
    position: absolute;
    gap: 1rem;
    top: -2rem;
    right: 1rem;
   
    z-index: 999;
    display: flex;
}
.r-button {
   
    position: absolute;
    gap: 1rem;
    top: -2rem;
    left: 1rem;
   
    z-index: 999;
    display: flex;
}
.r-buttons button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 79, 5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.r-button button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.r-button button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 79, 5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.r-button button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
@media (max-width: 640px) {

    .r-container{
        justify-content: center;
        align-items: center;
    }

    .r-container a{
        margin: 0 auto;
    }

    .r-card {
        padding: 0.5rem;
        max-width: 90%;
        margin: 0 auto;
        margin-right: 1.6rem;
    }

    .cardCon {
        margin: 0 auto;
        height: 24rem; 
        width: 20rem;
    }

    .r-buttons button {
        font-size: 1.2rem;
        padding: 0.3rem .4rem;
       
    }

    
    .r-button button {
        font-size: 1.2rem;
        padding: 0.3rem .4rem;
    }
    
    .r-buttons {
    
        top: -2rem;
        right: 40rem;
    
    }
    
    .r-button {
    
        top: -2rem;
        left: 40rem;
    
    }
}

