.checkoutCon{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.orderSec{
    width: 45%;
    padding: 1rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 1rem;

}
.order_items{
    width: 100%;
    display: flex;
    padding: 1rem;
}
.order_items img{
    width: 20%;
}
.order_info{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.order_items p{

}
.order_top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foo_checkout{
    width: 100%;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;

}

.top_foo_checkout{
    width: 100%;
    padding: 1rem;
    background-color: rgba(103, 235, 103,.8);
}