.users_wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.users_left{
    width: 26%;
}
.user_right{
    width: 60%;
}

.users_content{
    width: 95%;
    display: flex;
    justify-content: space-around;
    border: .7rem solid #008103;
    border-radius: .4rem;
    /* flex-direction: column; */
}


.users_con{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    background-color: whitesmoke;
    border: 1rem solid gainsboro;
    border-radius: .4rem;
}

.user_link{
    width: 95%;
    padding: .7rem;
    background: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 640px) {
    .users_left{
        width: 95%;
    }
    .user_right{
        width: 95%;
    }
    .users_content{
        flex-direction: column;
    }
    .users_con{
        border: .6rem solid gainsboro;
    }
}