.users_wrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.users_content{
    width: 95%;
    display: flex;
    justify-content: space-around;
   
    /* flex-direction: column; */
}
.users_left{
    width: 26%;
}
.user_right{
    width: 60%;
}


#users_con{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    background-color: whitesmoke;
    border: .9rem solid gainsboro;
    border-radius: .4rem;
}
